<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <img src="/assets/landingImg.jpg" align="left">
        <img src="/assets/trainImg.webp"  align="right" width="260px">
    </div>
    <div class="card text-center">
        <div class="card-header">
          Welcome To Ticket Booking System
        </div>
        <div class="card-body">
          <h5 class="card-title">Demo Application For Ticket Booking</h5>
          <p class="card-text">This is a demo application for booking tickets which works on spring boot as backend which fetches data from MySql Database and gives the data to  frontEnd using Rest Api the FrontEnd works on Angular.</p>
        </div>
        <div class="card-footer text-muted">
          28th April 2022
        </div>
      </div>
</body>

</html>